
<div class="side_bar">
  <div class="col-sm-2" id='search'>
    <input type='text' class='form-control' placeholder='search customers' ng-model="filter_name">
  </div>
</div>
<div class="tables">
  <ul>
  </ul>
  <div>
  <h4>Recent Orders</h4>
  <ul>
    <li>Michael purchased 2 Nike Shoes...(3 hours ago)</li>
    <li>John purchased 3 Black Belts... (5 hours ago)</li>
    <li>Trey purchased 5 Ice Creams...(2 days ago)</li>
  </ul>
  <a>show all order</a>
  </div>
  <div>
    <h4>New Customers</h4>
    <ul>
      <li>Tre Villafand joined the store(5 days ago)</li>
      <li>Michael Choi joined the store (2 weeks ago)</li>
      <li>Trey purchased 5 ice creams (2 days ago)</li>
    </ul>
    <a>show all customers</a>
  </div>
</div>
