<head>
</head>
<div ng-controller="ordersController">
  <h3>Add a new order</h3>
  <form>
    Customer: <select ng-model='newOrder.id'>
      <option ng-repeat="customer in customers" value="{{ customer._id }}">{{ customer.name }}</option>
    </select><br>

    Product: <select ng-model='newOrder.product'>
      <option ng-repeat="product in products" value="{{ product._id }}">{{ product.name }}</option>
    </select><br>
    <div ui-view></div>
    <input type='submit' value="Check Inventory" ng-click='changeState()'>
  </form>
  <div class="col-sm-2" id='search'>
      <input type='text' class='form-control' placeholder='search orders' ng-model="filter_name">
  </div>
  <table border="1">
    <tr>
      <th>Customer Name</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Date Ordered</th>
    </tr>
    <tr ng-repeat="order in orders | filter:filter_name | orderBy: -1 *'order.placed'">
      <td><span ng-bind="order._customer.name"></span></td>
      <td><span ng-bind="order._product.name"></span></td>
      <td><span ng-bind="order.quantity"></span></td>
      <td><span ng-bind="order.placed | date: 'MMMM d yyyy'"></span></td>
    </tr>
  </table>
</div>
